@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&Concert+One&family=Abel&family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* -----------------------Heading----------------------- */
.navbar {
	background-color: #00373D;
	border-bottom: 1px solid #0a0a0a;
    width: 100%;
    padding: 1.5rem 1rem;
}

.logo h3 {
    font-family: 'Cinzel Decorative';
    letter-spacing: 1px;
    margin: 0;
    color: #ffffff;
    float: left;

}

.fa-camera-retro:before {
    color:#e5efb6;
}

/* -----------------------Navigation Tabs----------------------- */
.nav {
    float: none;
    position: absolute;
    top: 84.6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav li {
    display: inline-block;
    padding: 0px;
    margin: -2.5px;
}

 .nav-menu {
    border-bottom:1px solid #000;
 } 

.nav-menu ul {
    list-style:none;
    margin:0;
    padding:0; 
 } 

.nav-menu ul li a { 
    text-decoration:none;
    line-height:23px;
    font-family: 'Dosis';
    font-size: 20px;
    color:#000;
    border:1px solid #000;
    border-bottom:none;
    padding: 0px 2px 2px 2px;
    width:5px;
    text-align:center;
    background:#e6c294;
    border-top-left-radius:5px;
    border-top-right-radius:5px; 
 } 

.nav-menu ul li a:hover {
    background:#d88757;
    color:#FFF;
    text-shadow:1px 1px 3px #000;
}
 
.nav-menu ul li a.active {
    background:#FFF;
    color: #000;
    border-bottom:1px solid #FFF; 
 } 

.nav-menu ul li a.active:hover {
    background:#FFF;
    color:#000;
    text-shadow:1px 1px 3px #1f5b65; 
 }