@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&Concert+One&family=Abel&family=Cinzel+Decorative:wght@400;700;900&display=swap');

html {
    height: 100%;
    background-color: #00373D
}
body{
    background-color: #ECEFF1;
}

p {
    margin: 10px;
}

/* -----------------------Heading----------------------- */
.banner {
    position: relative;
    background-color: #00373D;
    width: 100%;
    height : 82px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #0a0a0a;
    justify-content: space-between;
}

#logo {
    float: left;
} 

.logo h3 {
    font-family: 'Cinzel Decorative';
    letter-spacing: 1px;
    margin: 0;
    color: #ffffff;
}

.fa-camera-retro:before {
    color:#e5efb6;
}

/* -----------------------Navigation----------------------- */
.nav {
    float: none;
    position: absolute;
    top: 84.6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav li {
    display: inline-block;
    padding: 0px;
    margin: -2.5px;
}

 .nav-menu {
    border-bottom:1px solid #000;
 } 

.nav-menu ul {
    list-style:none;
    margin:0;
    padding:0; 
 } 

.nav-menu ul li a { 
    text-decoration:none;
    line-height:23px;
    font-family: 'Dosis';
    font-size: 20px;
    color:#000;
    border:1px solid #000;
    border-bottom:none;
    padding: 0px 2px 2px 2px;
    width:5px;
    text-align:center;
    background:#e6c294;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
 } 

.nav-menu ul li a:hover {
    background:#d88757;
    color:#FFF;
    text-shadow:1px 1px 3px #000;
}
 
.nav-menu ul li a.active {
    background:#FFF;
    color: #000;
    margin: -1px;
 } 

.nav-menu ul li a.active:hover {
    background:#FFF;
    color:#000;
    text-shadow:1px 1px 3px #1f5b65; 
 }

.dropdown {
    display:none;
    float: right;
    position: absolute;
    margin-top: 14px;
    margin-right: 5px;
    right: 0px;
    padding: 0px;
}

.dropdown .btn {
    height:40px;
    width: 50px;
}

.dropdown-menu{
    transform: translate3d(-105px, 40px, 0px); 
    top: 0px; 
    left: 0px;
}

.btn-secondary,
.btn-secondary:hover {
    color: #ffffff;
    background-color: #ffc107;
    border-color: #d39e00;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ffc107;
}
a:not([href]), a:not([href]):hover {
    color: #ffffff;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #d39e00;
    border-color: #ffc107;
}

/* -----------------------Hero Image----------------------- */

 .hero {
     height: 600px;
     width: 100%;
     border-bottom: 1px solid #0a0a0a;
     overflow: hidden;
 }
 
#hero-image {
     height: 600px;
     width: 100%;
     background: url("../images/camera.jpg") no-repeat center top;
     background-size: cover;
     
 }

 #hero-outer {
     height: 600px;
     width: 100%;
    

     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
 }

 @keyframes hero-zoom {
     from{
         transform: scale(1.4);
     }

     to{transform: scale(1);
         
     }
 }

/* -----------------------Home Info----------------------- */

  #home-info {
      margin: 10px;
      font-family: 'Abel';
  }

h4 {
    margin: 0 auto;
    text-align: center;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-link:hover {
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
}

.accordion .card-header{
    padding: 0;
}

#title.card-header {
    padding: 5px 1px 5px 1px;
    background-color: bisque;
}

.card-header h4 {
    margin-bottom: 2px;
}

.card-body {
    padding: 10px;
}

.card-title {
 margin-bottom: 10px;
}

.card-text {
    margin-top: 10px;
    }

.card-price {
    font-size: 18px;
    color: #ee9836;
}

 .drop-icon {
     float: right;
 }
 .card p {
     padding: 0px;
     margin: 0px;
     display: inline;
 }

/* -----------------------Bottom Banner----------------------- */

.footer-banner{
    background-color: #00373D;
    width: 100%;
    height : 45px;
    padding: 7px 10px;
    border-top: 1px solid #0a0a0a;
}

.social-links {
    color: white;
    letter-spacing: 1px;
    float: right;
   
    
}

.social-links a { 
    color: white;
    text-decoration:none;
}

.copywrite {
    margin: 0 auto;
    color: white;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.copywrite p {
    margin: 0;
    padding: 0;
    
}

/* -----------------------Contact Page----------------------- */
#hero-image-contact {
     height: 600px;
     width: 100%;
     background: url("../images/phonecam.jpg") no-repeat center top;
     background-size: cover;
     
 }

.map {
    position: absolute;
    float: right;
    padding: 10px;
    margin-top: 80px;
    margin-left: 250px;
    
}

#error_ {
    display: none;
}

.address {
    position: absolute;
    margin-top: 10px;
}



#contact-info {
      margin: 10px;
      font-family: 'Abel';
      position: relative;
      z-index: 0;
      
  }

#email-p, #email-h, #tel-h, #tel-p {
      display: inline;
  }

.map a{
    color:rgba(0, 0, 0, 0.0);
  
}
 
label {
    margin:0;
}

.form-control, .custom-select {
    margin-bottom: .3em;
}

.centered-button .btn {
    margin-top: 3px;
    padding: .20rem .75rem;
}



.centered-button {
    text-align:center
}

/* -----------------------Schedule Page----------------------- */
#hero-image-schedule {
     height: 600px;
     width: 100%;
     background: url("../images/mapcam.jpg") no-repeat center top;
     background-size: cover;
}

.table td, .table th {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;

}
.table thead th {
    border-bottom: 2px solid #000000;
    border-top: 1px solid #000000;
}

.table {
    border-bottom: 1px solid #000000;
}

#schedule-info {
      margin: 10px;
      font-family: 'Abel';
  }


 .hero-button {
  text-align: center;
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 560px;
  color: black;
  height: 40px;
 }

 .hero-button:focus{
 outline: none;
 }

th h4 {
    font-size: 20px;
    font-weight: bold;
}

th {
    font-size: 18px;
}

/* -----------------------Gallery Page----------------------- */

#gallery-info {
      margin: 10px;
      font-family: 'Abel';
      text-align: center;
  }

#gallery-info h4{
        padding-top: 10px; 
    }

 #gallery-info p {
        padding-bottom: 10px; 
    }

.carousel .carousel-inner{
height:600px;
border-bottom: 1px solid #0a0a0a;
background: black;

}
.carousel-inner .carousel-item img{
height:600px;
object-fit:none;
}

.carousel-caption {
    padding: 0px;
    bottom: 0px;
  
}

.carousel-caption h4, .carousel-caption h5, .carousel-caption p {
      text-shadow:1px 1px 3px #000;
}


/* -----------------------Media Queries----------------------- */

}

@media screen and (max-width:1393px){
    .map, #error_ {
    display: none;
}

.accordion {
    padding-bottom: 15px;
}
}

@media screen and (max-width:1256px) {
    .map{
    display:none;
    }
}

@media screen and (max-width:1199px){
.sub-head {
padding-top: 20px;
}

.divider {
    border-bottom: 2px solid #adb5bd;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#gallery-info h4{
    padding: 20px 10px; 
}

#gallery-info p{
    padding-bottom: 25px; 
}

#gallery-info {
    margin-bottom: 37px;
}
}

@media screen and (max-width:575px){
.contact {
        order: 2;
    }

.contact-form {
        order: 1;
    }

.divider1 {
    border-bottom: 2px solid #adb5bd;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px
}

.address {
    position: relative;
}
}

@media screen and (max-width:500px){
    .nav{
     display:none;     
    }

  .banner {
    padding: 0.5rem 1rem;
  }

.dropdown {
    display: block;
}

.logo h3 {
    font-size: 20px;
    width: 200px;
    margin-top: 12px;
}

.copywrite {
    left: 0;
    transform: none;
    padding: 4px;
    font-size: 14px;
}

#hero-image, #hero-image-contact, #hero-image-schedule {
    height: 300px;
    background-position: center;
}

 .hero  {
     height:300px;
 }

 .carousel .carousel-inner {
     height: 300px;
 }
.carousel-inner .carousel-item img {
    height: 300px;
    object-fit: cover;
}
.carousel h5 {
    font-size: 12px;
}
.carousel h4 {
    font-size: 14px;
}

.carousel p{
    display: none;
}
.hero-button{
    margin-top: 269px;
    height: 30px;
}

th {
    font-size: 16px;
}
th h4 {
    font-size: 18px;
}

td{
    font-size: 14px;
}

.table-responsive-xl {
        padding-left: 0;
    }

#gallery-info br {
    display: none;
}

#gallery-info h4{
    padding: 20px 10px; 
}
#gallery-info p{
    padding-bottom: 25px; 
}
}

